* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

#app ul::-webkit-scrollbar {
    width: 7px; 
    border-radius: 10px;
}
  
#app ul::-webkit-scrollbar-track {
    background:  linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgb(234, 234, 238) 100%);
    border-radius: 10px;
}


ul{
    width: 100%;
    list-style: none;
}

button {
    cursor: pointer;
}

body {
    background-image: linear-gradient(to  left, #FF6C87, #FC7246);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

#app {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#app ul {
    height: 70vh;
    overflow-y: auto;
    
}

.boxTarefa {
    width: 100%;
    padding: 3rem 1rem;
    display: flex;
    justify-content: center;

    background: rgba( 112, 109, 109, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.boxTarefa input {
    width: 80%;
    height: 45px;
    font-size: 1rem;
    padding: .5rem;
    margin-right: 1rem;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    outline: none;
}

.boxTarefa button {
    width: 10%;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 0;
    border-radius: 4px;
    outline: none;
    transition: all 0.5s;
}

.boxTarefa button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: all 0.5s;
}

.tarefa {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;

    margin-top: 1rem;

    background: rgba( 112, 109, 109, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 4px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-size: 1.2rem;
    padding: 1rem;
    color: #FFFFFF;
    user-select: none;
    overflow: hidden;
    word-break: break-all;
}

.btnExcluir {
    margin-left: 1rem;
}

.icone {
    color: #FFFFFF;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.creditos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1rem;
}

.creditos a {
    text-decoration: none;
    margin: 1rem;
    color: #FFFFFF;
    font-weight: bold;
}